@model EventResult

<style>
    table {
        border-collapse: separate; /* Ensures border-spacing is applied */
        border-spacing: 0 15px; /* Adds 15px vertical spacing between rows */
        width: 100%;
    }

    td, th {
        border: 1px solid #ccc; /* Optional, for visibility */
        padding: 10px;
        text-align: left;
    }
</style>


<table border="1">
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>@Model.Year</td>
        </tr>
        <tr>
            <td>PaxRaw</td>
            <td>@Model.PaxRaw</td>
        </tr>
        @{
            int tempVal = 0;
        }
     
        @for (int j = 0; j < Model.AutoxClass.Count; j++) {
            int runCounter = 1;

            <tr>
                <td>Event #@Model.EventNum[j]</td>
                <td>
                    <strong>AutoxClass:</strong> @Model.AutoxClass[j] <br>
                    <strong>ClassPlacement:</strong> @Model.ClassPlacement[j] <br>
                    @if (Model.PaxRaw == true) {
                        <strong>PaxPlacement:</strong> @Model.PaxPlacement[j] <br>
                        <strong>Pax Time:</strong> @Model.PaxTime[j] <br>
                        <strong>Raw Time:</strong> @Model.RawTime[j] <br>
                    } else {
                        for (int i = tempVal;  i < Model.FinalTimes.Count; i++) {
                            if (Model.FinalTimes[i] == "/") {
                                tempVal = i + 1;
                                break;
                            }
                            <td>
                                <strong>Run #@(runCounter):</strong> @Model.FinalTimes[i] <br>
                            </td>
                            runCounter++;
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
